{% extends "base.html" %}

{% block body_header %}
Import raportów pobranych z Santander Bank Polska S.A.
{% endblock %}

{% block body_content %}
    <center>
        <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {{ form.file.label }} {{ form.file(size=60) }} {{ form.submit }}
        </form>
    </center>
    <br>
    <br>
    {% if form.cash_import %}
        <center>
            <table style="width:90%">
                <tr><th>Data</th><th>Kwota</th><th>Klient</th><th>Opis</th></tr>
                {% for item in form.cash_import %}
                    <tr><td>{{ item.date }}</td><td><b>{{ item.value }}</b></td><td>{{ item.customer }}</td><td>{{ item.desc }}</td></tr>
                {% endfor %}
            </table>
        </center>
    {% endif %}

    {% if form.file.errors %}
        <ul class="errors">
        {% for error in form.file.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
